[run]
branch = True
data_file = .coverage
source=license_manager
omit =
    license_manager/settings/*
    license_manager/conf/*
    */wsgi.py
    */urls.py
    */migrations/*
    */admin.py
    */static/*
    */templates/*
    */tests/*
    test_*
